.corpo {
	background-color: #a00000;
	color:snow;
}

.principal {
	text-align: center;
}

.cabecalho {
	font-size: 70px;
	text-align: center;
	text-decoration: underline;
	margin: 20px 0px;
}

.divisao1 {
	border: 2px solid snow;
	margin: 10px 13px;
}

.titulo {
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	margin: 15px;
}

.paragrafo {
	font-size: 25px;
	text-align: center;
	margin: 20px 0px;
}

.p1 {
	padding: 13px 15px;
	font-size: 17px;
}

.regiaopk {
	text-align: center;
	font-size: 30px;
	margin: 15px;
}

.strong1 {
	text-decoration: underline;
	font-weight: bold;
}

.conclusao {
	font-size: 60px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin: 0 0 50px 0;
}

.divisao2 {
	text-align: center;
	background: url(footer2.png);
	padding: 40px 0;
}

.listafim {
	color: white;
	margin: 5px;
}

.contato {
	font-size: 20px;
	text-decoration:underline;
	font-weight: bold;
	margin: 20px;
}
